html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4fa;
    overflow: hidden; /* Отключаем прокрутку */
}

/* Закрепляем хедер */
.header {
    flex: 0 1 auto;
    background-color: #3b82f6;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    left: 0; /* Обеспечивает, что хедер начинается с левой стороны */
    padding: auto;
}

h1 {
    padding-left: 50px;
}

/* Добавляем отступ сверху для контента, чтобы он не перекрывался хедером */
.container {
    height: calc(100% - 80px); /* Используем calc для вычисления оставшейся высоты */
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 130px; /* Увеличиваем отступ сверху до 100px */
}

.new-task {
    margin-bottom: 10px;
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #fff; /* Добавляем белую рамку */
    padding: 0px 20px 20px 20px; /* Добавляем отступ внутри блока */
    font-size: 14px;
}

h3 {
    font-size: 20px;
}
.new-task input {
    
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.new-task button {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.new-task button:hover {
    background-color: #2563eb;
}

.columns {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.column {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column h4 {
    text-align: center;
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    flex: 0 1 auto;
}

.backlog h4 {
    color: #494949;
    background-color: #ccc;
}

.in-progress h4 {
    color: #1f5699;
    background-color: #77b1f8;
}

.done h4 {
    color: #0c972f;
    background-color: #51e4ae;
}

.trash h4 {
    color: #993232;
    background-color: #f18383;
}

/* Задаем фиксированный размер задач */
.task {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Занимает всю ширину колонки */
    height: 50px; /* Фиксированная высота для всех задач */
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 13px;
    position: relative; /* Для использования псевдоэлемента */
}

/* Полоски для задач в каждой колонке */
.backlog .task::before {
    background-color: #ccc; /* Соответствует цвету заголовка Backlog */
}

.in-progress .task::before {
    background-color: #77b1f8; /* Соответствует цвету заголовка In Progress */
}

.done .task::before {
    background-color: #51e4ae; /* Соответствует цвету заголовка Done */
}

.trash .task::before {
    background-color: #f18383; /* Соответствует цвету заголовка Trash */
}

/* Параметры полоски */
.task::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px; /* Ширина полоски */
    border-radius: 8px 0 0 8px; /* Скругление углов слева */
}

.clear-button {

    width: 100%;
    padding: 10px;
    background-color: #993232;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #a11515;
}